<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th> id</th>
            <th> Brand</th>
            <th> Color</th>
            <th> Engine</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(cars)}">
            <td colspan="3"> No Cars Available</td>
        </tr>
        <tr th:each="car: ${cars}">
            <td><span th:text=" ${car.id}"> id </span></td>
            <td><span th:text=" ${car.brand}"> Brand </span></td>
            <td><span th:text=" ${car.color}"> Color </span></td>
            <td><span th:text=" ${car.engineDisplacement}"> Engine </span></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>